ul {
   
    width: 100%; 
    height: fit-content; 
    border-radius: 10px;
    background: white;
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);
    list-style-type: none;
    li {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 12px 24px;
        &:last-child {
            border: none;
        }
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            color: #274c77;
            transition: 0.3s;
        }
        .icon {
            color: #274C77;
        }
    }
}