<div class="loading" >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="80px" height="80px">
      <circle cx="24" cy="24" r="20" stroke="#274C77" fill="none" stroke-width="4" stroke-linecap="round">
        <animate attributeName="stroke-dashoffset" values="0;-100;-300;-400" dur="1.5s" repeatCount="indefinite" />
        <animate attributeName="stroke-dasharray" values="0,200; 100,200; 300,200; 400,200" dur="1.5s" repeatCount="indefinite" />
      </circle>
    </svg>
    
  </div>
  