@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
// regular style toast
@import 'ngx-toastr/toastr';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: #E7ECEF;
}




.no-scroll {
  overflow: hidden;
}





